
.bg_status_delivery{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888888;
    z-index: 999;
}

.bg_status_delivery_active{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00CDCD;
    z-index: 999;
}

.a_status_delivery{
    font-size: 1.1rem;
}

.group_status_delivery{
    width: 70%;
}

.hr_status_delivery{
    width: 70%;
    height: 1.2px;
    background-color: rgb(194, 194, 194);
}

.group_box_status{
    position: relative;
    color: #434343;
}

.test_status{
    position: absolute;
    top: .5rem;
    left: 0;
    width: 100%;
}